.card-review {
  max-width: 900px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 0px #d1d1d1;
  margin: 2rem 0;
}

.card-review__header {
  display: flex;
  margin-bottom: 1rem;
}

.card-review__user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-review__img,
.card-review__img-default  {
  height: 70px;
  width: 70px;
  min-height: 70px;
  min-width: 70px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 1rem;
  border: 1px solid #e1e1e1;
}

.card-review__img-default {
  background: url(../../assets/no-photo.jpg) no-repeat center center/cover;
}

.card-review__username {
  font-size: 2rem;
}

.card-review__posted-at {
  font-size: 1.2rem;
}

.card-review__review-title {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.card-review__review-text {
  font-size: 1.4rem;
}