.auth-msg {
  position: fixed;
  top: 0;
  width: 100%;
  transform: translateY(-100%);
  transition: all 0.2s ease;
  z-index: 99;
}

.auth-msg.auth-msg--active {
  transform: translateY(0);
}

.auth-msg__container {
  margin: 0 auto;
  padding: 1.5rem;
}

.auth-msg__success {
  background: var(--color-main-gradient);
}

.auth-msg__error {
  background: var(--color-error-gradient);
}

.auth-msg__text {
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
}
