.discover {
  position: relative;
  max-width: 1300px;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  padding: 2rem 0 5rem 0;
}

.discover__container {
  display: flex;
  justify-content: center;
}

.discover__header-info {
  display: flex;
  align-items: center;
}

.discover__header-wrap {
  display: flex;
}

.discover__data-list-container {
  position: relative;
  min-height: 85vh;
}

.discover__data-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0 5rem 0;
}

.discover__search-text {
  display: flex;
}

.discover .search--input-results {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.discover .search__btn-bg {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.discover__list-title {
  font-size: 2.8rem;
  margin-right: 3rem;
  line-height: 1;
}

.discover__search-text {
  font-size: 2.2rem;
  line-height: 1;
  margin-top: 0.4rem;
}

.discover .search {
  margin-top: 1.9rem;
  width: 1080px;
}

.discover .spin {
  top: 50%;
  left: 48%;
}

/* media queries */
@media (max-width: 1299px) {
  .discover__data-list {
    grid-template-columns: repeat(4, 200px);
  }

  .discover .search {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .discover__header-info,
  .discover__header-wrap {
    display: flex;
    align-items: center;
  }
  
  .discover__aside {
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 20;
    background: #fff;
    padding: 2rem;
    border: 1px solid #e1e1e1;
    border-radius: 0 10px 10px 0;
    transition: all 0.5s ease;
    opacity: 0;
    z-index: -20;
  }

  .discover__aside.discover__aside--active {
    opacity: 1;
    z-index: 50;
  }
}

@media (max-width: 900px) {
  .discover__data-list {
    grid-template-columns: repeat(4, 150px);
  }

  .discover .search__input {
    font-size: 1.4rem;
  }
  
  .discover .btn--search {
    font-size: 1.4rem;
  }

  .discover .spin {
    top: 45%;
    left: 45%;
  }
}

@media (max-width: 700px) {
  .discover__data-list {
    grid-template-columns: repeat(3, 150px);
  }
}

@media (max-width: 520px) {
  .discover__data-list {
    grid-template-columns: repeat(2, 150px);
    padding: 2rem;
  }

  .discover .search__input,
  .discover .btn--search {
    font-size: 1.4rem;
    padding: 0.7rem 1.5rem;
  }

  .discover__header {
    padding: 0 2rem;
  }

  .discover__header-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .discover__header-wrap {
    margin-bottom: 1rem;
  }

  .discover__data-list {
    justify-content: center;
    padding: 2rem;
  }

  .discover__search-text {
    font-size: 1.6rem;
  }

  .discover .spin {
    top: 45%;
    left: 45%;
  }
}

@media (max-width: 345px) {
  .discover__data-list {
    grid-template-columns: 150px;
  }

  .discover__header {
    padding: 0 1rem;
  }

  .discover__data-list {
    padding: 2rem 1rem;
  }

  .discover__search-text {
    font-size: 1.4rem;
  }
}