.filter {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 1px 10px 0px #d1d1d1;
  margin: 0 2rem 0 0;
}

.filter__title {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.filter__select {
  outline: none;
  border: 1px solid #e1e1e1;
  padding: 0.5rem;
  background: #f1f1f1;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .filter {
    margin: 0;
  }
}