@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  font-size: 10px;
  --color-main: #00c6ff;
  --color-main-dark: #0072ff;
  --color-bg: #20232a;
  --color-main-gradient: linear-gradient(to top right, #00c6ff, #0072ff);
  --color-error-gradient: linear-gradient(to top right, #ef473a, red);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background: var(--color-main);
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #111;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0.8rem;
}
body::-webkit-scrollbar-track {
  background: #e1e1e1;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-main);
  border-radius: 1rem;
  outline: none;
}

ul {
  list-style: none;
  font-weight: bold;
}

input,
textarea {
  border: none;
  outline: none;
  font-family: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  background: #fff;
}

a {
  text-decoration: none;
}