.movie-tv-details__card-details {
  min-height: 500px;
}

.movie-tv-details__cast-card {
  max-width: 1300px;
  margin: 4rem auto 10rem auto;
}

.movie-tv-details__cast {
  display: flex;
  overflow-x: auto;
  padding: 2rem 0 2rem 0
}

.movie-tv-details__reviews {
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.movie-tv-details__users-reviews {
  margin: 0 2rem;
}

.movie-tv-details__data-container {
  position: relative;
  min-height: 100vh;
}

.movie-tv-details__list-title,
.movie-tv-details__cast-list {
  font-size: 2.4rem;
}

/* media queries */
@media (max-width: 1299px) {
  .movie-tv-details__cast-card {
    padding: 0 0 0 2rem;
  }

  .movie-tv-details__reviews {
    padding: 0 0 5rem 2rem;
  }
}

@media (max-width: 540px) {
  .movie-tv-details__cast-card {
    padding: 0 0 0 1rem;
  }
  
  .movie-tv-details__reviews {
    padding: 0 0 5rem 0;
  }

  .movie-tv-details__list-title {
    margin-left: 1rem;
  }

  .movie-tv-details__data-container .spin {
    top: 45%;
    left: 47%;
  }
}