.scroll-btn {
  position: fixed;
  right: 100px;
  bottom: 50px;
}

.scroll-btn__icon {
  color: #fff;
  font-size: 3rem;
}

@media (max-width: 1299px) {
  .scroll-btn {
    display: none;
  }
}