.scroll-btn {
  position: fixed;
  right: 100px;
  bottom: 50px;
}

.scroll-btn__icon {
  color: #fff;
  font-size: 3rem;
}

@media (max-width: 1350px) {
  .scroll-btn {
    right: 20px;
  }
}

@media (max-width: 540px) {
  .scroll-btn {
    right: 5px;
  }
}