.result {
  max-width: 1300px;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  padding-bottom: 5rem;
}

.result__header-info {
  display: flex;
  align-items: center;
  margin: 0 0 1.5rem 0;
}

.result__data-list-container {
  display: flex;
  justify-content: center;
  min-height: 85vh;
}

.result__data-list {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  gap: 2rem;
  padding: 2rem 0 5rem 0;
}

.result .search--input-results {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.result .search__btn-bg {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.result__bar {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.result__text-info {
  color: #777;
  font-size: 1.6rem;
  margin-top: 1rem;
  font-weight: 400;
  margin-left: 2rem;
}

.result__search-text {
  font-size: 2.2rem;
}

.result__list-title {
  font-size: 2.8rem;
  margin-right: 3rem;
}

.result .spin {
  top: 60%;
  left: 49%;
}

/* media queries */
@media (max-width: 1299px) {
  .result__data-list {
    grid-template-columns: repeat(4, 200px);
  }

  .result__header,
  .result__bar {
    padding: 0 2rem;
  }
}

@media (max-width: 900px) {
  .result__data-list {
    grid-template-columns: repeat(4, 150px);
  }
}

@media (max-width: 700px) {
  .result__data-list {
    grid-template-columns: repeat(3, 150px);
  }

  .result__text-info {
    font-size: 1.4rem;
  }
}

@media (max-width: 530px) {
  .result__data-list {
    grid-template-columns: repeat(2, 150px);
    padding: 2rem;
  }

  .result__text-info {
    font-size: 1.2rem;
  }

  .result__search-text {
    font-size: 1.6rem;
  }

  .result__header-info {
    flex-direction: column;
  }

  .result .spin {
    top: 65%;
    left: 45%;
  }
}

@media (max-width: 345px) {
  .result__data-list {
    grid-template-columns: 150px;
  }

  .result__search-text {
    font-size: 1.4rem;
  }
}