.filter__tags {
  width: 200px;
  padding: 1.5rem;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 1px 10px 0px #d1d1d1;
  margin: 2rem 2rem 0 0;
}

.tag {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #e1e1e1;
  border-radius: 25px;
  margin: 0.3rem;
  font-size: 1.2rem;
}

.tag:hover {
  color: #fff;
  background-color: var(--color-main);
  cursor: pointer;
}

.tag__active {
  background-color: var(--color-main);
  color: #fff;
}

/* media queries */
@media (max-width: 1100px) {
  .filter__tags {
    margin: 2rem 0 0 0;
  }
}
