.card-details {
  position: relative;
  height: 550px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.card-details__background {
  position: absolute;
  width: 100%;
  height: 550px;
  object-fit: cover;
  z-index: -1;
}

.card-details__container {
  margin: 0 auto;
}

.card-details__sub-container {
  position: relative;
  max-width: 1300px;
  display: flex;
}

.card-details__img {
  width: 300px;
  height: 450px;
  border-radius: 5px;
  object-fit: cover;
}

.card-details__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4rem;
}

.card-details__title {
  font-size: 3.5rem;
  color: #fff;
}

.card-details__date {
  font-size: 1.4rem;
  color: #e1e1e1;
}

.card-details .rating {
  width: 45px;
  height: 45px;
  font-size: 1.8rem;
  position: static;
}

.card-details__tagline {
  color: #e1e1e1;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
}

.card-details .rating-bg {
  height: 35px;
  width: 35px;
}

.card-details__overview-title {
  font-size: 2rem;
  color: #fff;
  margin-top: 2rem;
}

.card-details__overview {
  color: #fff;
  font-size: 1.6rem;
}

.card-details__date-genre {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.card-details__genre-container {
  display: flex;
}

.card-details__genres {
  color: #fff;
  margin-right: 0.5rem;
  font-size: 1.4rem;
}

.card-details__genres:last-child {
  margin-right: 0;
}

.card-details__runtime {
  color: #fff;
  font-size: 1.4rem;
}

.card-details__rating-fave {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.card-details__icon-fave-container,
.card-details__icon-fave-container--active {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #222;
  border-radius: 50%;
  margin-left: 2rem;
}

.card-details__icon-fave-container {
  background-color: #e1e1e1;
}

.card-details__icon-fave-container--active {
  background-color: var(--color-main);
}

.card-details__icon-fave-bg {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #222;
}

.card-details__icon-fave-container:hover {
  background-color: var(--color-main);
}

.card-details__icon-fave-container:hover .icon-fave {
  color: var(--color-main);
}

.card-details .icon-fave {
  font-size: 1.5rem;
  position: static;
}

.card-details__people {
  height: 300px;
}

.card-details__aditional-info {
  display: flex;
  margin-top: 3rem;
}

.card-details__text {
  color: #fff;
  font-size: 1.6rem;
  margin-right: 5rem;
}

.card-details__text-light {
  font-weight: 400;
  font-size: 1.4rem;
}

.card-details__dot {
  background-color: #fff;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  margin: 0 1rem;
}

/* media queries */
@media (max-width: 1299px) {
  .card-details__container {
    padding: 0 4rem;
  }

  .card-details__title {
    font-size: 3rem;
  }
}

@media (max-width: 900px) {
  .card-details {
    height: 100%;
  }

  .card-details__background {
    height: 100%;
  }

  .card-details__container {
    padding: 4rem;
  }

  .card-details__sub-container {
    display: flex;
    flex-direction: column;
  }

  .card-details__info {
    padding: 0;
    margin-top: 2rem;
  }
}

@media (max-width: 500px) {
  .card-details__container {
    padding: 4rem 2rem;
    width: 100%;
  }

  .card-details__title {
    font-size: 2.5rem;
  }

  .card-details__date-genre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .card-details__dot {
    margin: 1rem 0;
  }
}

@media (max-width: 340px) {
  .card-details__img {
    width: 240px;
    height: 340px;
    border-radius: 5px;
  }

  .card-details__title {
    font-size: 2.2rem;
  }

  .card-details__text {
    margin-right: 2rem;
  }
}